{% extends 'sign_up/index.html' %}
{% block header %}
{% endblock header %}
{% block content %}
    <form action="{% url 'sign_up:edit_team' team.id %}" method="post">
        {% csrf_token %}
        队伍名称：<input type="text" name="college" value="{{ team.team_name }}">
        <br>
        队员一：<input type="text" name="student_id" value="{{ team.member1 }}">
        <br>
        学院：<input type="text" name="name" value="{{ team.college1 }}">
        <br>
        学号：<input type="text" name="tel" value="{{ team.student_id1 }}">
        <br>
        手机号：<input type="text" name="email" value="{{ team.tel1 }}">
        <br>
        邮箱：<input type="text" name="email" value="{{ team.email1 }}">
        <br>
        队员二：<input type="text" name="student_id" value="{{ team.member2 }}">
        <br>
        学院：<input type="text" name="name" value="{{ team.college2 }}">
        <br>
        学号：<input type="text" name="tel" value="{{ team.student_id2 }}">
        <br>
        手机号：<input type="text" name="email" value="{{ team.tel2 }}">
        <br>
        邮箱：<input type="text" name="email" value="{{ team.email2 }}">
        <br>
        <button type="submit">提交</button>
    </form>
{% endblock content %}