{% extends 'sign_up/index.html' %}
{% block header %}
{% endblock header %}
{% block content %}
    {% for team in teams %}
        <ul>
            <li>队伍名称:{{ team.team_name }}</li>
            <li>队长:{{ team.leader }}</li>
            <li>学院:{{ team.leader_college }}</li>
            <li>学号:{{ team.leader_id }}</li>
            <li>手机号:{{ team.leader_tel }}</li>
            <li>邮箱:{{ team.leader_email }}</li>
            <li>队员一:{{ team.member1 }}</li>
            <li>学院:{{ team.college1 }}</li>
            <li>学号:{{ team.student_id1 }}</li>
            <li>手机号:{{ team.tel1 }}</li>
            <li>邮箱:{{ team.email1 }}</li>
            <li>队员二:{{ team.member2 }}</li>
            <li>学院:{{ team.college2 }}</li>
            <li>学号:{{ team.student_id2 }}</li>
            <li>手机号:{{ team.tel2 }}</li>
            <li>邮箱:{{ team.email2 }}</li>

            <a href="{% url 'sign_up:delete_actor' team.id %}">删除</a>
            <a href="{% url 'sign_up:edit_team' team.id %}">修改</a>
        </ul>
    {% endfor %}
{% endblock content %}