{% extends 'sign_up/index.html' %}
{% block header %}
{% endblock header %}
{% block content %}
    <ul>
        {% if teams %}
            {% for team in teams %}
                {% if actor_info.team_name == team.team_name %}
                    {% if actor_info.actor_name == team.leader %}
                        <li>队伍名称：{{ team.team_name }}--队长姓名：{{ team.leader }}--<a href="{% url 'sign_up:delete_actor' team.id %}">解散该队伍</a></li>
                    {% else %}
                        <li>队伍名称：{{ team.team_name }}--队长姓名：{{ team.leader }}--<a href="{% url 'sign_up:quit_team' team.id %}">退出该队伍</a></li>
                    {% endif %}
                {% else %}
                    {% if team.member1 and team.member2 %}
                        <li>队伍名称：{{ team.team_name }}--队长姓名：{{ team.leader }}--<a>该队伍人数已满</a></li>
                    {% else %}
                        <li>队伍名称：{{ team.team_name }}--队长姓名：{{ team.leader }}--
                            <a href="{% url 'sign_up:add_team' team.id %}" onclick="get_key()">加入该队伍</a>
                            <input type="hidden" name="team_key" id="team_key">
                            <button hidden type="submit" name="submit" id="submit"></button>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
                <li>目前还没有创建的队伍，欢迎创建队伍--<a href="{% url 'sign_up:new_team' %}">创建</a></li>
        {% endif %}
    </ul>
{% endblock content %}
